@import "structure.css";

.container-fluid {
  width: 1366px;
  margin: 0 auto;
}

.mobile-nav-toggler {
  display: none;
}
.mobile-menu {
  display: none;
}
.inner-page-nav {
  display: none;
}
.navbar-wrapper.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bs-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: 1s ease-in-out;
}
.navbar {
  height: 104px;
}
.navbar-nav {
  gap: 48px;
}
.navbar-nav .nav-link {
  font-weight: 400;
  color: var(--bs-black);
}
.navbar-nav .nav-link:hover {
  color: var(--bs-primary-500);
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  font-weight: 500;
  color: var(--bs-primary-500);
}
.badge {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--bs-primary-600);
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* search box */
.app-search-box {
  width: 100%;
  position: fixed;
  transform: translate(0px, 0px);
  visibility: hidden;
  opacity: 0;
  z-index: -9;
  transition: all 0.35s ease;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app-search-box.show {
  z-index: 999;
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 134px);
  transition: all 0.35s ease;
}
.app-search-box.show .search-backdrop {
  position: absolute;
  background: #00000080;
  top: -134px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}
.app-search-form {
  position: relative;
  width: 964px;
}
/* end search box */

.navbar-action {
  gap: 32px;
}
.navbar-action .search-icon {
  cursor: pointer;
}
.user_account {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.user_account img {
  border-radius: 50%;
}
.navbar-brand .logo img {
  width: 136px;
  height: 28px;
}

/* intro section */
.intro-wrapper .intro-bg {
  background: #eff0f4;
  margin-left: 67px;
  border-radius: 44px 0 0 0;
  height: 664px;
}
.intro-wrapper .container-fluid {
  margin-left: 214px;
  margin-right: auto;
}
.intro-wrapper {
  margin-bottom: 104px;
}
/* end intro section */

/* new in products */
.new-in-wrapper {
  margin-bottom: 104px;
}
.section-title {
  margin-bottom: 65px;
}
.products {
  margin: 0 -10px;
  row-gap: 28px;
}
.products .col-md-3 {
  padding: 0 10px;
}
.products .product-img {
  background: var(--bs-neutral-100);
  border-radius: 8px;
  height: 354px;
  padding: 14px;
}
.products .product-img img {
  border-radius: 8px;
  object-fit: contain;
}
.products .card {
  box-shadow: none;
  border-radius: 0;
}
.products .card .card-body {
  padding: 1rem 0 4px 0;
  justify-content: center;
  align-items: center;
}
.products .card .card-body p {
  color: var(--txt-title-color);
}
.products .product-price p {
  font-weight: 600;
  font-size: 20px;
}
.products .product-price del {
  color: var(--txt-paragrap-color);
  font-size: 14px;
}
.go-shop-btn {
  margin-top: 58px;
}
.cart_action .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--bs-neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_action .btn:hover {
  background: var(--gradiant-color-600);
}
.cart_action .btn:hover svg .cart_btn {
  fill: var(--bs-white);
}
.wishlist-icon,
.quick-view,
.cart_action {
  width: 40px;
  height: 40px;
  background: var(--bs-white);
  box-shadow: 0px 2px 4px -4px rgba(15, 28, 51, 0.04),
    0px 3px 8px -2px rgba(15, 28, 51, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.wishlist-icon:hover,
.quick-view:hover,
.cart_action:hover {
  background: var(--bs-primary-600);
  box-shadow: 0 3px 10px rgba(242, 149, 68, 0.65);
  color: var(--bs-white);
}
.quick-action {
  gap: 14px;
  position: absolute;
  right: 14px;
  top: 14px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in;
  display: flex;
  flex-direction: column;
}
.products .product .card:hover .quick-action {
  visibility: visible;
  height: fit-content;
  opacity: 1;
}
.promotion-label {
  width: 44px;
  height: 24px;
  border-radius: 4px;
  font-size: 13px;
  color: var(--bs-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 14px;
  top: 14px;
}
.promotion-label.if-new {
  background: var(--bs-primary-600);
}
.promotion-label.if-sale {
  background: var(--bs-danger-500);
}
.cart_btn_20 {
  width: auto;
  height: auto;
}
.cart_btn_20_hover {
  display: none;
  width: auto;
  height: auto;
}
.cart_action .btn:hover .cart_btn_20_hover {
  display: block;
}
.cart_action .btn:hover .cart_btn_20 {
  display: none;
}
.quick-action .fa-regular,
.far {
  font-weight: 600;
}
.go-shop-btn a {
  height: 48px;
  border: 1px solid var(--bs-neutral-200);
  padding: 0 40px;
}
/* end new in products */

/* product slider */
.slider-wrapper {
  margin-bottom: 104px;
  background: var(--bs-neutral-100);
}
.products-slider {
  height: 560px;
}
/* end product slider */

/* feature products */
.feature-wrapper {
  margin-bottom: 104px;
}
.feature-product-img {
  width: calc(100% - 470px);
  height: 725px;
}
.feature-product:nth-child(odd) .feature-product-img .img {
  margin-right: auto;
}
.feature-product:nth-child(even) .feature-product-img .img {
  margin-left: auto;
}
.feature-product:nth-child(odd) .feature-product-img .feature-overlay {
  right: -134px;
}
.feature-product:nth-child(even) .feature-product-img .feature-overlay {
  left: -134px;
}
.feature-product-img .img {
  width: 600px;
  position: relative;
}
.feature-product-content {
  width: 470px;
}
.feature-product-content a {
  height: 48px;
  padding: 0 34px;
  border: 1px solid var(--bs-neutral-300);
  margin-top: 6px;
}
.feature-overlay {
  width: 267px;
  height: 321px;
  background: #ffffff;
  position: absolute;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  top: 60px;
  opacity: 70%;
}
/* end feature products */

/* summer products */
.summer-wrapper {
  height: 464px;
  margin-bottom: 104px;
}

/* end summer products */

/* summer products */
.newsletter-wrapper {
  height: 500px;
  background-image: url("../images/news_letter_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 104px;
  position: relative;
  z-index: 0;
}
.newsletter-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bs-white);
  opacity: 85%;
}
.newsletter-wrapper .container-fluid {
  height: 100%;
}
.newsletter {
  height: 100%;
  gap: 30px;
  z-index: 1;
  position: absolute;
}
.newsletter h2 {
  font-weight: 400;
  color: var(--bs-black);
}
.newsletter p {
  font-weight: 400;
  color: var(--bs-black);
}
.subscrip-btn {
  margin-top: 40px;
}
.subscrip-btn .input-group {
  width: 645px;
}
.subscrip-btn .input-group > .form-control {
  border: 1px solid var(--bs-black);
  border-radius: 25px !important;
  background: var(--bs-white);
  opacity: 85%;
  padding-left: 24px;
  padding-right: 130px;
  z-index: 0;
}
.subscrip-btn .btn {
  width: 124px;
  height: 49px;
  border: 0;
  background: var(--bs-primary-600);
  color: var(--bs-white);
  border-radius: 25px !important;
  position: absolute;
  right: -1px;
  top: -1px;
}
/* end summer products */

/* banner area */
.banner-wrapper {
  margin-bottom: 104px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  z-index: 0;
}
.banner-wrapper .banner {
  z-index: 1;
  position: relative;
}
.banner-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bs-black);
  opacity: 10%;
}

.banner-wrapper.kitchen {
  background-image: url("../images/banner_1.png");
}
.banner-wrapper.living {
  background-image: url("../images/banner_2.png");
}
.banner-wrapper.bed {
  background-image: url("../images/banner_3.png");
}

.banner h2 {
  color: var(--bs-white);
}
.breadcrumb-wrapper {
  background: var(--bs-neutral-100);
  height: 140px;
}
.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
  --bs-breadcrumb-divider-color: var(--bs-white);
  --bs-breadcrumb-item-active-color: var(--bs-white);
}
.breadcrumb-item {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--bs-neutral-500);
}
.breadcrumb-item.active {
  color: var(--bs-neutral-950);
}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--bs-neutral-500);
}

/*end banner area */

/* most popular product */
.popular-wrapper {
  margin-bottom: 104px;
}
/* end most popular product */

/* all product */
.all-item-wrapper {
  margin-bottom: 104px;
}
.all-items .filter-section {
  width: 250px;
}
.all-items .result {
  width: calc(100% - 410px);
}
.all-items {
  gap: 160px;
}
.all-items .result .products .col-md-3 {
  width: 33.33%;
}
/* end all product */

/* accordion button */
.accordion {
  --bs-accordion-color: var(--bs-neutral-800);
  --bs-accordion-bg: var(--bs-white);
  --bs-accordion-border-color: var(--bs-neutral-200);
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-padding-y: 0;
  --bs-accordion-btn-color: var(--bs-neutral-800);
  --bs-accordion-btn-bg: var(--bs-white);
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-body-padding-y: 0;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: transparent;
  display: flex;
  gap: 40px;
  flex-direction: column;
  --bs-accordion-btn-icon: url(../images/master_icon/sm_arrow_dwn_3.svg);
  --bs-accordion-btn-active-icon: url(../images/master_icon/sm_arrow_dwn_3.svg);
}
.accordion-flush .accordion-item {
  border: 0 !important;
}
.accordion-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--bs-neutral-800);
  border-bottom: 1px solid var(--bs-neutral-100);
}
.accordion-button {
  padding: 0 0 10px 0;
  border: none !important;
  font-size: 16px;
  font-weight: 600;
}

.accordion-button.collapsed {
  border: none !important;
}
.accordion-button:focus {
  border: none !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-button::after {
  content: "+" !important;
  font-size: 24px;
}
.accordion-body {
  margin-top: 18px;
  padding: 0 14px;
}
.accordion-body .list-group {
  gap: 16px;
}
.accordion-button:not(.collapsed)::after {
  content: "-" !important;
  transform: rotate(0) !important;
}
.accordion-item {
  border: 0;
}
/*end accordion button */

.color-items {
  padding: 4px;
}
.color-items .color-item label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.color-items .color-item .green {
  background: #60bfe4;
}
.color-items .color-item .blue {
  background: #9ee0d7;
}
.color-items .color-item .black {
  background: #000000;
}
.color-items .color-item .orange {
  background: #ffb587;
}
.color-items .color-item {
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.color-items .color-item.active,
.color-items .color-item:hover {
  border: 1px solid var(--bs-primary-500);
}

.metarial-item .form-check {
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.metarial-item .form-check .form-check-input {
  margin: 0;
}

/* filter price */
.filter-price .price-input {
  width: 100%;
  display: flex;
  margin: 24px 0 0px 0;
}
.filter-price .price-input .field {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
}
.filter-price .field input {
  width: 100%;
  height: 100%;
  outline: none;
  text-align: center;
  border: 0;
  -moz-appearance: textfield;
}
.filter-price input[type="number"]::-webkit-outer-spin-button,
.filter-price input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter-price .slider {
  height: 5px;
  position: relative;
  background: var(--bs-neutral-400);
  border-radius: 5px;
}
.filter-price .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: var(--bs-primary-500);
}
.filter-price .range-input {
  position: relative;
}
.filter-price .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.filter-price input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--bs-primary-500);
  pointer-events: auto;
  -webkit-appearance: none;
}
.filter-price input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--bs-neutral-400);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
/* end all product */

/* best sale */
.best-sale-wrapper {
  margin-bottom: 104px;
}
.best-sale-wrapper .products {
  margin: 0;
}
.best-sale-wrapper .products .col-md-3 {
  padding: 0;
}
.best-sale-wrapper .products .card {
  background: none;
  border-radius: 0;
}
.best-sale-wrapper .products .product-img {
  border-radius: 0;
  background: none;
  padding: 0;
}
.best-sale-wrapper .products .product-img img {
  border-radius: 0px;
  object-fit: cover;
}
.best-sale-wrapper .overlay {
  width: 200px;
  height: 174px;
  background: var(--bs-white);
  position: absolute;
  top: 35%;
  left: 35%;
  opacity: 65%;
}
/* end best sale */

.breadcrumb-wrapper .breadcrumb {
  --bs-breadcrumb-divider-color: var(--bs-black);
  --bs-breadcrumb-item-active-color: var(--bs-black);
}

/* product details */
.product-wrapper {
  margin-bottom: 104px;
  margin-top: 24px;
  gap: 127px;
}
.img-gallery {
  background: var(--bs-neutral-100);
  border-radius: 0 378px 378px 0;
  height: 610px;
}
.img-gallery .product-img {
  width: 620px;
  margin-left: auto;
  height: 100%;
}
.main-img {
  padding: 24px;
  border-radius: 0 378px 378px 0;
  height: calc(100% - 104px);
}
.main-img img {
  border-radius: 0 50% 50% 0;
}
.slider-img .slider {
  width: 114px;
  height: 74px;
  border: 1px solid var(--bs-primary-600);
  padding: 0 14px;
  border-radius: 4px;
  cursor: pointer;
}
.slider-img {
  height: 104px;
  padding: 0 24px;
}
.product-content .content-details {
  width: 608px;
  margin-right: auto;
}
.product-content h4 {
  font-weight: 700;
  margin-top: 24px;
}
.variables .color-items .color-item label {
  width: 20px;
  height: 20px;
}
.variables .color-items .color-item {
  width: 30px;
  height: 30px;
}
.product-content .cart-action {
  gap: 56px;
}
.product-content .cart-action .btn {
  width: 208px;
}
.product-content .variables {
  margin: 28px 0 40px 0;
}
.details-wrapper {
  margin-bottom: 104px;
}
.products-daimention {
  margin-bottom: 64px;
}
.products-daimention .img img {
  width: 554px;
  height: 350px;
  object-fit: contain;
}
.details-wrapper h5 {
  border-bottom: 1px solid var(--bs-neutral-100);
  padding-bottom: 10px;
  margin: 0 0 14px 0;
}
.details-wrapper ul li p {
  color: var(--bs-black);
}
.details-wrapper ul li p:first-child {
  font-weight: 700;
}
.btn.wishlist {
  background: var(--bs-neutral-200);
  color: var(--bs-black);
}
.btn.wishlist:hover {
  background: var(--bs-neutral-300);
}
.btn.wishlist:focus {
  background: var(--bs-neutral-500) !important;
  border: 1px solid transparent !important;
}
.btn.wishlist:active {
  background: var(--bs-neutral-500) !important;
  box-shadow: none;
}

/* end product details */

/* related products */
.related-wrapper {
  margin-bottom: 104px;
}
/* end related products */

/* product cart */
.cart-wrapper {
  margin-bottom: 104px;
  margin-top: 48px;
}
.product-cart {
  gap: 78px;
}
.cart-items {
  width: calc(100% - 488px);
}
.cart-item-summary {
  width: 410px;
  padding: 20px;
  border: 1px solid var(--bs-neutral-200);
  height: fit-content;
  border-radius: 4px;
}
.cart-item-summary h6 {
  border-bottom: 1px solid var(--bs-neutral-200);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.process-order {
  margin-top: 34px;
}
.cart-item:last-child {
  border: 0;
}
.cart-item {
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--bs-neutral-200);
}
.cart-item-action {
  width: 40px;
  height: 40px;
  border: 1px solid var(--bs-neutral-200);
  border-radius: 4px;
  cursor: pointer;
  color: var(--bs-neutral-300);
}
.cart-item-img {
  width: 80px;
  height: 80px;
}
.cart-item-info p {
  width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 48px;
  font-size: 15px;
}
.txt-in {
  display: none;
}

.cart-item-summary .list-group-item:last-child {
  border-top: 1px solid var(--bs-neutral-200);
  padding-top: 14px;
}
.cart-item-summary .list-group .form-control {
  border-radius: 2px;
  height: 32px;
  font-size: 14px;
}
.cart-item-summary .list-group {
  --bs-list-group-bg: transparent;
  gap: 14px;
}
.cart-item-action:hover {
  color: var(--bs-primary-600);
}
/* end product cart */

/* payment */
.payment-wrapper {
  margin-bottom: 104px;
  margin-top: 24px;
}
.order-summary .list-group-item:last-child {
  border-top: 1px solid var(--bs-neutral-200);
  padding-top: 14px;
}
.order-summary h6 {
  padding: 0px 0 10px 0;
  border-bottom: 1px solid var(--bs-neutral-200);
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
}
.form-action-btn {
  margin-top: 58px;
}
.coupon-box .input-group .btn {
  width: 80px;
}
.order-summery ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bs-neutral-200);
  padding-bottom: 10px;
}
.order-summery ul li:last-child {
  border-bottom: 0px;
}
.order-summery ul li p:last-child {
  font-weight: 500;
}
.order-summery ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  background-color: var(--bs-neutral-100);
  border: 1px solid var(--bs-neutral-200);
}
.order-summery .btn {
  margin-top: 40px;
  margin-bottom: 14px;
}
.payment {
  gap: 70px;
}
.radio_checkbox {
  padding: 20px;
  border: 1px solid var(--bs-neutral-200);
}
.payment .w-50 {
  gap: 34px;
}

/* end payment */

/* message */
.message-wrapper {
  margin: 80px 0 230px 0;
}
.message {
  width: 610px;
  margin: 0 auto;
}
.message img {
  width: 244px;
  height: 250px;
}
.message h5 {
  margin-top: 10px;
}
.message p {
  font-size: 14px;
}
.message .btn {
  width: 208px;
}
/* end message */

/* wishlist */
.wishlist-wrapper {
  margin-bottom: 104px;
  margin-top: 48px;
}
.remove-wishlist {
  width: 20px;
  height: 20px;
  font-size: 24px;
  position: absolute;
  right: -4px;
  top: -16px;
  color: var(--bs-neutral-500);
}
.wishlist .col-md-3 {
  width: 20%;
}
.wishlist .col-md-3 .btn {
  margin-top: 14px;
}
/* wishlist */

/* slider css code */
.intro_slider .slide {
  overflow: hidden;
  height: 70vh;
}
.slide-img {
  position: absolute;
  right: 40px;
  width: 540px;
  top: 9%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-slider .slide-img {
  width: 550px;
  top: 4%;
  height: 450px;
}

.slide-img img {
  width: auto;
  height: auto;
}
.slide-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-bottom: 104px;
}
.slide-content h1 {
  width: 70%;
  line-height: 56px;
  font-weight: 600;
}
.slide-content a {
  margin-top: 24px;
}
.intro-wrapper .container-fluid {
  height: 100%;
}
.intro_slider {
  height: 100%;
}
.slick-dots {
  position: absolute;
  top: 46%;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-end;
  align-items: flex-end;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li {
  width: 10px;
  height: 10px;
}
.slick-dots li button {
  border-radius: 50%;
  background: var(--bs-neutral-400);
  opacity: 0.25;
  width: 10px;
  height: 10px;
}
.slick-dots li.slick-active button {
  background: var(--bs-primary-500);
  opacity: 1;
}
.intro-social-icon {
  position: absolute;
  left: 0px;
  bottom: 48px;
}
.intro-social-icon i {
  cursor: pointer;
  color: var(--bs-neutral-400);
}
.products-slider .container-fluid {
  height: 100%;
}
.products-slider .slide {
  overflow: hidden;
  height: 70vh;
}
.products-slider .slide .slide-content p,
.products-slider .slide .slide-content .color-items {
  width: 70%;
}
.products-slider .slide .slide-content .color-items {
  min-width: 15%;
  max-width: fit-content;
}
.slick-arrow {
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  width: 16px;
  height: 10px;
  border: 0;
  position: absolute;
  background: transparent;
}
.slick-arrow.slick-prev {
  background-image: url(../images/icon/left.png);
  background-repeat: no-repeat;
  right: 55px;
  bottom: 58px;
  z-index: 1;
}
.slick-arrow.slick-next {
  background-image: url(../images/icon/right.png);
  background-repeat: no-repeat;
  right: 10px;
  bottom: 58px;
}
.slick-arrow.slick-next::after {
  content: "|";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: var(--bs-neutral-600);
  position: absolute;
  bottom: 1px;
  left: -16px;
}
.summer-sale {
  padding: 0 80px;
}
.summer-sale-banner {
  background-image: url(../images/summer_sale.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.summer-sale .slick-arrow.slick-prev {
  left: 10px;
  bottom: -48px;
}
.summer-sale .slick-arrow.slick-next {
  left: 55px;
  bottom: -48px;
}
/* end slider css code */

/* footer section */
.footer-wrapper {
  background: var(--bs-primary-500);
  padding: 40px 0 20px 0;
  color: var(--bs-white) !important;
}
.footer-wrapper p {
  color: var(--bs-white) !important;
}
.footer-top {
  gap: 196px;
}
.shop-information {
  gap: 64px;
  width: 60% !important;
}
.important-link {
  gap: 196px;
  width: 40% !important;
}
.footer-top .logo img {
  width: 165px;
  height: 34px;
}
.footer-title p {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-top .social-icon {
  cursor: pointer;
}
.footer-wrapper .footer {
  gap: 48px;
}
.footer .links a {
  font-weight: 400;
}
.footer-bottom p {
  font-size: 14px;
}
/* end footer section */

.footerbottom-menu {
  display: none;
}
/* user panel css code */
.user-dashboard {
  margin: 40px 0 104px 0;
}
.layout {
  gap: 30px;
}
.layout-menu {
  width: 272px;
  background: var(--bs-white);
  border: 1px solid var(--bs-neutral-300);
  border-radius: 8px;
  padding-bottom: 48px;
  height: fit-content;
}
.layout-content {
  width: calc(100% - 302px);
}
.overview {
  margin: 0 -10px;
  row-gap: 20px;
}
.overview .col-md-3 {
  padding: 0 10px;
}
.overview .card {
  box-shadow: none;
  border: 1px solid var(--bs-neutral-300) !important;
}
.overview .card .card-body .card_title {
  color: var(--bs-neutral-600);
  margin: 9px 0;
}
/*------left side menu------*/
.user-pic {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--bs-neutral-300);
  margin: 0 auto;
  padding-bottom: 14px;
}
.user-pic .img {
  width: 102px;
  height: 97px;
  border-radius: 15px;
  border: 0.094rem solid var(--bs-neutral-300);
  margin-top: 30px;
  padding: 8px;
  position: relative;
}
.user-pic .name {
  font-size: 18px;
  color: var(--bs-neutral-900);
  font-weight: 500;
  margin-top: 14px;
}
.online-status {
  width: 14px;
  height: 14px;
  position: absolute;
  right: -6px;
  bottom: 4px;
}
.online-status .is-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--bs-success-500);
}
.main-menu-items {
  margin-top: 20px;
}
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.metismenu li {
  position: relative;
}
.menu-items .nav-item .nav-link {
  width: 100%;
  padding: 16px 24px 16px 20px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  height: 56px;
  position: relative;
}
.metismenu > li.mm-active > a.mm-active {
  background: var(--bs-neutral-100) !important;
  border-radius: 0px;
  color: var(--bs-primary-500);
}
.metismenu ul {
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1;
}
.metismenu ul a:focus,
.metismenu ul a.mm-active {
  color: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:focus,
.menu-items .nav-item .nav-link:hover {
  color: var(--bs-primary-500);
}
.metismenu .submenu {
  padding: 0px 0px 0px 40px;
}
.menu-items .nav-item .submenu .sub-nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.metismenu .submenu .sub-nav-link:hover {
  color: var(--bs-primary-500);
  cursor: pointer;
  width: 100%;
}
.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}
.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.35s;
  transition-property: height, visibility;
}
.metismenu .has-child {
  position: relative;
}
.menu-items .nav-item.mm-active .submenu {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

[dir="rtl"] .metismenu .has-child:after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}
.metismenu .has-child[aria-expanded="true"]:after,
.metismenu .mm-active > .has-child:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
[dir="rtl"] .metismenu .has-child[aria-expanded="true"]:after,
[dir="rtl"] .metismenu .mm-active > .has-child:after {
  -webkit-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
}
.metismenu > li.mm-active > a.mm-active svg .dashboard {
  fill: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:focus svg .dashboard {
  fill: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:hover svg .dashboard {
  fill: var(--bs-primary-500);
}

.metismenu > li.mm-active > a.mm-active svg .user {
  stroke: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:focus svg .user {
  stroke: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:hover svg .user {
  stroke: var(--bs-primary-500);
}
.metismenu > li.mm-active > a.mm-active svg .orders {
  stroke: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:focus svg .orders {
  stroke: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:hover svg .orders {
  stroke: var(--bs-primary-500);
}

.metismenu > li.mm-active > a.mm-active svg .wishlist {
  fill: var(--bs-primary-500);
}

.menu-items .nav-item .nav-link:focus svg .wishlist {
  fill: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:hover svg .wishlist {
  fill: var(--bs-primary-500);
}
.metismenu > li.mm-active > a.mm-active svg .address {
  fill: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:focus svg .address {
  fill: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:hover svg .address {
  fill: var(--bs-primary-500);
}
.metismenu > li.mm-active > a.mm-active svg .pass {
  stroke: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:focus svg .pass {
  stroke: var(--bs-primary-500);
}
.menu-items .nav-item .nav-link:hover svg .pass {
  stroke: var(--bs-primary-500);
}
.logout-action {
  padding: 20px 20px 20px 0;
  margin-top: 14px;
}
.logout-action a {
  border: 1px solid var(--bs-neutral-200);
  padding: 8px 20px;
  border-radius: 4px;
}
.logout-action a:focus {
  color: var(--bs-primary-500);
  border: 1px solid var(--bs-primary-500);
}
.logout-action a:hover {
  color: var(--bs-primary-500);
  border: 1px solid var(--bs-primary-500);
}
.logout-action a:focus svg .signout {
  stroke: var(--bs-primary-500);
}
.logout-action a:hover svg .signout {
  stroke: var(--bs-primary-500);
}
/*------end left side menu------*/
.recent_order_list {
  margin-top: 34px;
}
.recent_order_list .table {
  border: 1px solid var(--bs-neutral-300);
  padding: 20px 30px 34px 30px;
  border-radius: 8px;
}
.orders .section-title {
  margin-bottom: 14px;
}
.table .tbody-row .fa-eye {
  color: var(--bs-neutral-500);
}
.orders .tbody-row .cell.cell_6 a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orders .tbody-row .cell.cell_6 a:hover .fa-eye {
  color: var(--bs-primary-500);
}

.orders .tbody-row .cell.cell_1,
.orders .thead-row .cell.cell_1 {
  width: 80px;
}
.orders .tbody-row .cell.cell_2,
.orders .thead-row .cell.cell_2 {
  width: 120px;
}
.orders .tbody-row .cell.cell_3,
.orders .thead-row .cell.cell_3,
.orders .tbody-row .cell.cell_4,
.orders .thead-row .cell.cell_4 {
  width: 80px;
}
.orders .tbody-row .cell.cell_5,
.orders .thead-row .cell.cell_5 {
  width: 120px;
}
.orders .tbody-row .cell.cell_6,
.orders .thead-row .cell.cell_6 {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-account-info {
  border: 1px solid var(--bs-neutral-200);
  padding: 24px 24px 48px 24px;
  border-radius: 8px;
}
.address-form {
  width: 680px;
}
.edit-info {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit-info .fa-pen-to-square {
  color: var(--bs-neutral-500);
}
.list-address {
  row-gap: 24px;
}
.user-address .section-title {
  margin-bottom: 14px;
}

.list-address .card {
  box-shadow: none;
  border: 1px solid var(--bs-neutral-200) !important;
}
.list-address .card .card_action {
  position: absolute;
  top: 15px;
  right: 18px;
}
.list-address .user-info {
  gap: 10px;
  margin-bottom: 20px;
}
.list-address .user-info .address,
.list-address .user-info .ctn_number {
  width: 80%;
  gap: 10px;
}
.list-address .card img {
  width: auto;
  height: auto;
}
.card_action .action_item {
  gap: 14px;
}
.card_action .action_item_list .action_item_link {
  gap: 14px;
  font-size: 16px;
  font-weight: 500;
  color: var(--bs-neutral-500);
}
.card_action .action_item_list .action_item_link:hover {
  color: var(--bs-primary-500);
}
.card_action .action_item_list .action_item_link:hover svg #edit {
  stroke: var(--bs-primary-500);
}
.card_action .action_item_list .action_item_link:hover svg #make_default {
  stroke: var(--bs-primary-500);
}
.card_action .action_item_list .action_item_link:hover svg #deleteicon {
  fill: var(--bs-primary-500);
}
.account-setting {
  background: var(--bs-white);
  border: 1px solid var(--bs-neutral-300);
  padding: 24px;
  border-radius: 8px;
}
.ss-setting {
  width: 680px;
}
.table .tbody .tbody-row:last-child {
  border: 0;
}
.order-information {
  background: var(--bs-white);
  padding: 20px 20px 48px 20px;
  border-radius: 8px;
  border: 1px solid var(--bs-neutral-300);
}
.order-status-bar {
  gap: 95px;
  margin: 32px 0 90px 0;
  padding: 0px 40px;
}
.order-status-bar .estimate-time p {
  font-weight: 500;
}
.order-status-bar .estimate-time {
  gap: 5px;
}
.progress-track .progressbar {
  counter-reset: step;
  align-items: baseline;
  justify-content: space-between;
}
.progress-track .progressbar li p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--bs-neutral-800);
}
.progress-track .progressbar li {
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress-track .progressbar li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 5px;
  background: #f8f8f8;
  border: 5px solid var(--bs-neutral-300);
  border-radius: 50%;
  top: -30px;
  z-index: 1;
}
.progress-track .progressbar li.is_complete:before {
  border-color: var(--bs-success-500);
}
.progress-track .progressbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--bs-neutral-300);
  top: -22px;
  left: -54%;
}
.progress-track .progressbar li.is_complete + li:after {
  background: var(--bs-success-500);
}
.progress-track .progressbar li:first-child:after {
  content: none;
}
.order-item-info {
  margin-top: 24px;
}
.order-items .table {
  border: 1px solid var(--bs-neutral-300);
  padding: 20px 30px 34px 30px;
  border-radius: 8px;
}
.order-items .table .tbody .cell.cell_1,
.order-items .table .thead .cell.cell_1 {
  width: 30%;
}
.order-items .table .tbody .cell.cell_1 p {
  width: calc(100% - 52px);
}
.order_item_img {
  width: 40px;
  height: 44px;
  padding: 2px 4px;
}
.ship-address div:last-child {
  background: var(--bs-white);
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--bs-neutral-300);
}
.address-form .section-title {
  margin-bottom: 24px;
}
/* user panel css code */

/* Login and Register page */
.authentic-wrapper {
  margin: 40px 0 180px 0;
}
.login-register-form {
  width: 530px;
  margin: 0 auto;
  gap: 16px;
}
.login-register-form .send-sms {
  color: var(--bs-neutral-500);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login-register-form form {
  width: 100%;
  margin: 20px 0;
}
.social-media-login {
  width: 100%;
  margin-top: 16px;
}
.login-register-form a {
  font-weight: 500;
  color: var(--bs-primary-500);
}
.social-media-login .btn.google-btn {
  background: var(--bs-neutral-200);
  color: var(--bs-neutral-900);
}
.social-media-login .btn.fb-btn {
  background: #0571ed;
  color: var(--bs-white);
}
.social-media-login .btn img {
  width: 24px;
  height: 24px;
}
/* Login and Register page */

/* responsive css code */
@media only screen and (max-width: 1440px) {
  .container-fluid {
    width: 1300px;
  }
  .newsletter-wrapper {
    height: 382px;
    background-size: contain;
  }
  .newsletter-wrapper {
    height: 362px;
    background-size: contain;
  }
  .important-link {
    gap: 164px;
  }
  .intro-wrapper .container-fluid {
    margin-left: 64px;
    width: 1240px;
  }
  .intro_slider .slide {
    height: 80vh;
  }
}

@media only screen and (max-width: 1366px) {
  .newsletter-wrapper {
    height: 362px;
  }
  .payment {
    gap: 48px;
  }
  .img-gallery {
    height: 444px;
  }
  .slider-img .slider {
    width: 104px;
    height: 64px;
  }
  .product-wrapper {
    gap: 48px;
  }
  .intro-wrapper .container-fluid {
    width: 1200px;
  }
  .slide-content h1 {
    width: 80%;
  }
}

@media only screen and (max-width: 1280px) {
  .container-fluid {
    width: 100%;
    padding: 0 30px;
  }
  .wishlist .col-md-3 {
    width: 25%;
  }
  .product-cart {
    gap: 48px;
  }
  .cart-items {
    width: calc(100% - 428px);
  }
  .cart-item-summary {
    width: 380px;
  }

  .all-items {
    gap: 74px;
  }
  .all-items .result {
    width: calc(100% - 324px);
  }
  .products .product-img {
    height: 304px;
  }
  .best-sale-wrapper .overlay {
    width: 154px;
    height: 124px;
    left: 22%;
  }
  .best-sale-wrapper .overlay h5 {
    font-size: 20px;
  }
  .img-gallery .product-img {
    width: 594px;
  }
  .product-content .content-details {
    width: 100%;
  }
  .feature-product-img {
    height: auto;
  }

  .feature-product-img .img {
    width: 494px;
    position: relative;
  }
  .feature-overlay {
    width: 244px;
    height: 244px;
  }
  .subscrip-btn {
    margin-top: 20px;
  }
  .shop-information {
    width: 55% !important;
  }
  .footer-top {
    gap: 104px;
  }
  .intro-wrapper .intro-bg {
    margin-left: 40px;
  }
  .intro-wrapper .container-fluid {
    width: 1060px;
    padding: 0;
  }

  /* user panel */
  .overview .card .card-body .card_title {
    margin: 4px 0;
  }
  .overview .card .card-body h5 {
    font-size: 20px;
    line-height: 24px;
  }
  .layout-menu {
    width: 248px;
  }
  .layout-content {
    width: calc(100% - 278px);
  }
  /* user panel */
}

@media only screen and (max-width: 1024px) {
  .container-fluid {
    padding: 0 40px;
  }
  .products .product-img {
    height: 270px;
  }
  .feature-product-img .img {
    width: 370px;
    position: relative;
  }
  .feature-product-img {
    width: 50%;
  }
  .feature-product {
    justify-content: space-between;
  }
  .feature-product-content {
    width: 370px;

    /* padding: 0 20px 0 40px; */
  }
  h5 {
    font-size: 20px;
  }
  .feature-overlay {
    width: 204px;
    height: 204px;
  }
  .newsletter-wrapper {
    height: 264px;
  }
  .newsletter {
    gap: 14px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .best-sale-wrapper .overlay {
    top: 14%;
  }
  .cart-item-summary {
    width: 320px;
  }
  .cart-items {
    width: calc(100% - 368px);
  }
  .cart-item-img {
    width: 64px;
    height: 64px;
  }
  .cart-item-info p {
    width: 170px;
  }
  .main-img {
    padding: 24px;
  }
  .img-gallery .product-img {
    width: 100%;
  }
  .product-content .content-details {
    padding-right: 20px;
  }
  .img-gallery {
    height: 420px;
  }
  .slider-img {
    height: 64px;
    padding: 0 20px;
    gap: 14px !important;
    height: 314px;
  }
  .slide-img {
    width: 320px;
    height: 314px;
  }
  .slider-img .slider {
    width: 90px;
    height: 54px;
  }
  .product-content .variables {
    margin: 0px 0 30px 0;
  }
  .product-content h4 {
    margin-top: 10px;
  }
  .product-content .cart-action {
    gap: 24px;
  }

  .important-link {
    gap: 80px;
  }
  .shop-information .w-75 {
    width: 60% !important;
  }
  .shop-information .w-25 {
    width: 40% !important;
  }
  /* user panel */
  .overview .col-md-3 {
    width: 50%;
  }
  .orders .table {
    padding: 0;
    border: 0;
  }
  .orders .table .thead {
    display: none;
  }
  .orders .table .tbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .orders .table .tbody .tbody-row {
    flex-direction: column;
    padding: 14px;
    border: 1px solid var(--bs-neutral-300);
    border-radius: 4px;
    gap: 14px;
  }
  .orders .tbody-row .cell {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .orders .tbody-row .cell .txt-in {
    display: block;
    font-weight: 500;
    color: var(--bs-neutral-800);
  }
  .orders .tbody-row .cell.cell_6 {
    display: none;
  }
  .address-form {
    width: 100%;
  }
  .ss-setting {
    width: 100%;
  }
  .order-status-bar {
    gap: 74px;
    margin: 32px 0 0px 0;
    padding: 0;
  }
  .order-items .table .tbody .cell.cell_1 div {
    width: 100%;
  }
  /* user panel */

  .intro-wrapper .container-fluid {
    width: 94%;
    margin-left: 30px;
  }
  .intro-wrapper .intro-bg {
    margin-left: 48px;
    height: 380px;
  }
  .intro_slider .slide {
    height: 44vh;
  }
  .slide-content h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .slide-content {
    gap: 10px;
    padding-bottom: 50px;
  }

  .products-slider {
    margin: 0 30px;
  }
  .summer-sale {
    padding: 0 24px;
  }
  .summer-wrapper {
    height: 408px;
  }
  .newsletter-wrapper {
    background-size: cover;
  }
  .products-daimention {
    margin-bottom: 34px;
  }
  .banner-wrapper {
    margin-bottom: 58px;
    height: 240px;
  }
  .all-item-wrapper {
    margin-bottom: 58px;
  }
  .popular-wrapper {
    margin-bottom: 58px;
  }

  .products-slider {
    height: 370px;
  }
  .products-slider .slide {
    height: 43vh;
  }
  .products-slider .slide-img {
    width: 430px;
    height: 325px;
    right: 0;
  }
  .products-slider .slide .slide-content {
    padding: 0;
  }
  .products-slider .slide .slide-content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .products-slider .slide .slide-content .color-items {
    min-width: 30%;
  }
}

@media only screen and (max-width: 820px) {
  .products .col-md-3 {
    padding: 0 10px;
    width: 33.33%;
  }
  .feature-product-img .img {
    width: 100%;
  }
  .feature-product {
    gap: 80px;
  }
  .feature-product-content {
    width: 330px;
  }
  .feature-overlay {
    width: 130px;
    height: 143px;
  }
  .feature-product:nth-child(odd) .feature-product-img .feature-overlay {
    right: -65px;
  }
  .feature-product:nth-child(even) .feature-product-img .feature-overlay {
    left: -65px;
  }
  .feature-overlay h5 {
    font-size: 16px;
  }
  .newsletter-wrapper {
    background-size: cover;
  }
  .all-items {
    gap: 40px;
  }
  .all-items .result {
    width: calc(100% - 244px);
  }
  .all-items .filter-section {
    width: 204px;
  }
  .all-items .result .products .col-md-3 {
    width: 50%;
  }
  .best-sale-wrapper .products .col-md-3 {
    width: 25%;
  }
  .best-sale-wrapper .products .product-img {
    height: 170px;
  }
  .best-sale-wrapper .products {
    row-gap: 0;
  }
  .accordion-body {
    padding: 0;
  }
  .navbar-brand .logo img {
    width: 94px;
    height: 19px;
  }
  .navbar-nav {
    gap: 34px;
  }
  .navbar-action {
    gap: 20px;
  }
  .product-content .cart-action .btn {
    width: 164px;
    height: 48px;
  }
  .product-content.w-50 {
    width: 40% !important;
  }
  .img-gallery {
    width: 55% !important;
    height: 290px;
  }
  .product-wrapper {
    gap: 34px;
  }
  .slider-img {
    height: 44px;
  }
  .slider-img .slider {
    height: 100%;
  }
  .main-img {
    height: calc(100% - 78px);
  }
  .product-content h4 {
    font-size: 24px;
    line-height: 28px;
  }
  .product-content .cart-action {
    flex-direction: column;
    align-items: center;
  }
  .details-wrapper ul li p {
    font-size: 14px;
  }
  .details-wrapper h5 {
    font-size: 16px;
  }
  .best-sale-wrapper .overlay {
    width: 120px;
    height: 120px;
  }
  .best-sale-wrapper .overlay h5 {
    font-size: 16px;
  }
  .popular-product .products .col-md-3:last-child {
    display: none;
  }
  .app-search-form {
    width: 94%;
  }
  .product-cart {
    flex-direction: column;
  }
  .cart-items {
    width: 100%;
  }
  .cart-item-summary {
    width: 100%;
  }
  .newsletter-wrapper {
    background-image: url(../images/news_letter_bg_sm.png);
  }
  .footer-top .logo img {
    width: 114px;
    height: auto;
  }
  .footer-top {
    gap: 48px;
  }
  .shop-information .w-75 {
    gap: 20px !important;
  }
  .shop-information {
    width: 50% !important;
    gap: 0;
    justify-content: space-between;
  }
  .important-link {
    width: 50% !important;
    gap: 0;
    justify-content: space-between;
  }
  .list-address {
    flex-direction: column;
  }
  .list-address .card.w-50 {
    width: 100% !important;
  }
  .progress-track .progressbar {
    flex-direction: column;
  }
  .progress-track .progressbar li {
    min-width: 100%;
    height: 70px;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
    padding: 0 0 0 34px;
  }
  .progress-track .progressbar li::before {
    top: 0;
    left: 0;
  }
  .progress-track .progressbar li::after {
    width: 4px;
    height: 100%;
    top: -50px;
    left: 8px;
  }
  .order-status-bar {
    gap: 24px;
    margin: 32px 0 0px 0;
    padding: 0;
  }
  .order-information {
    padding: 20px 20px 0px 20px;
  }
  .short_invoice {
    flex-direction: column;
  }
  .short_invoice .ship-address.w-50 {
    width: 100% !important;
  }
  .short_invoice .order-summery.w-50 {
    width: 100% !important;
  }

  .products-slider .slide {
    height: 100%;
    padding: 30px 0;
  }
  .products-slider {
    height: 370px;
    margin: 0;
  }
  .products-slider .slide {
    height: 100%;
    padding: 34px 0 48px 0;
  }
  .products-slider .slide .slide-content p {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
  .products-slider .slide-content {
    gap: 14px;
  }
  .summer-sale {
    padding: 0px;
  }

  .footer-wrapper .footer {
    gap: 58px;
  }
  .intro-wrapper {
    margin-bottom: 54px;
  }
  .section-title {
    margin-bottom: 48px;
  }
  .new-in-wrapper {
    margin-bottom: 54px;
  }
  .slider-wrapper {
    margin-bottom: 54px;
  }
  .product-wrapper {
    margin-bottom: 54px;
  }
}

@media only screen and (max-width: 540px) {
  .container-fluid {
    padding: 0 20px;
  }
  /* mobile view responsive code */
  .mobile-nav-toggler {
    display: block !important;
  }
  .navbar-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
  }
  .mobile-menu-visible {
    overflow: hidden;
  }
  .mobile-menu-visible .mobile-menu {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    padding: 0px 0px;
    z-index: 5;
    opacity: 1 !important;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transform: translateX(-101%);
    padding: 34px 16px 0 16px;
  }
  .mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .mobile-menu .close-btn {
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    align-items: center;
    z-index: 99999;
  }
  .close-btn img {
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }
  .menubtn .logo img {
    width: auto;
    height: auto;
  }
  .menubtn {
    width: 100%;
  }
  .menubtn .close-btn img {
    width: auto;
    height: auto;
  }

  .mobile-menu .menu-box .menu-outer {
    padding-top: 34px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .mobile-menu .menu-box .divider {
    border-bottom: 1px solid var(--bs-neutral-300);
    padding: 10px 0;
  }
  /* mobile view responsive code */

  /* Mobile Footer Menu */
  .footerbottom-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99999;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: var(--bs-white);
    padding: 14px 20px 20px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .footerbottom-menu .list-group-item-action.active svg .wishlist {
    fill: #f5845f;
  }
  .footerbottom-menu .list-group-item-action.active svg .cart {
    fill: #f5845f;
  }
  .footerbottom-menu .list-group-item-action.active svg .category {
    fill: #f5845f;
  }
  .footerbottom-menu .list-group-item-action.active svg .home {
    fill: #f5845f;
  }
  .footerbottom-menu .list-group-item-action.active svg .user {
    stroke: #f5845f;
  }
  .footerbottom-menu .list-group {
    --bs-list-group-bg: transparent;
    --bs-list-group-color: var(--bs-neutral-500);
    flex-direction: row;
    justify-content: space-between;
  }
  .footerbottom-menu .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  .footerbottom-menu .list-group-item-action.active {
    color: #f5845f;
    background-color: transparent;
  }
  .footerbottom-menu .list-group-item-action:focus,
  .footerbottom-menu .list-group-item-action:hover {
    color: #f5845f;
    background-color: transparent;
  }
  /* Mobile Footer Menu */

  .navbar {
    height: 78px;
  }
  .navbar-brand {
    gap: 24px;
  }
  .category-wrapper {
    margin-top: 24px;
    margin-bottom: 104px;
  }
  .category-items li {
    font-size: 14px;
    color: var(--bs-neutral-900);
    font-weight: 500;
  }
  .category-items li .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bs-neutral-200);
    padding-bottom: 10px;
    width: 100%;
  }
  .category-items li .link::after {
    width: 0.5rem;
    height: 0.5rem;
    border-color: var(--bs-neutral-400);
    -webkit-transform: rotate(-225deg) translateY(-50%);
    transform: rotate(-225deg) translateY(-50%);
    content: "";
    border-width: 1px 0 0 1px;
    border-style: solid;
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  .footer-top {
    flex-direction: column;
  }
  .shop-information {
    width: 100% !important;
    gap: 30px;
  }
  .important-link {
    width: 100% !important;
  }
  .footerbottom-menu .list-group-item-action .badge {
    top: 0;
    right: 4px;
  }
  .carts-link.wishlist {
    display: none !important;
  }
  .user_account {
    display: none;
  }
  .layout-menu {
    display: none;
  }
  .layout-menu {
    display: none !important;
  }
  .user-dashboard .mobile-menu .menu-outer .layout-menu {
    display: block !important;
  }
  .navbar-nav {
    gap: 14px;
    flex-direction: column !important;
  }
  .section-title p {
    text-align: center;
  }
  .tab-menus .nav {
    gap: 34px;
  }
  .products .col-md-3 {
    padding: 0 10px;
    width: 50%;
  }
  .products .product-img {
    height: 214px;
  }
  .feature-products {
    display: flex;
    gap: 64px;
    flex-direction: column;
  }
  .feature-product {
    gap: 40px;
  }
  .feature-products .feature-product:nth-child(odd) {
    flex-direction: column;
  }
  .feature-products .feature-product:nth-child(even) {
    flex-direction: column-reverse;
  }
  .feature-products .feature-product:nth-child(even) .feature-product-img {
    margin-left: auto;
  }
  .feature-overlay {
    width: 120px;
    height: 130px;
  }
  .feature-overlay h5 {
    font-size: 14px;
  }
  .feature-product-img {
    width: 84%;
  }
  .feature-product:nth-child(odd) .feature-product-img .feature-overlay {
    right: -54px;
  }
  .feature-product:nth-child(even) .feature-product-img .feature-overlay {
    left: -54px;
  }
  .feature-product-content {
    width: 100%;
    padding: 0;
  }
  .popular-product .products .col-md-3:last-child {
    display: block;
  }
  .all-items .filter-section {
    display: none !important;
  }
  .all-items .result {
    width: 100%;
  }
  .best-sale-wrapper {
    display: none;
  }
  .product-wrapper {
    gap: 34px;
    flex-direction: column;
  }
  .img-gallery {
    width: 94% !important;
  }
  .product-content.w-50 {
    width: 100% !important;
    padding: 0 20px;
  }
  .products-daimention .w-100 {
    flex-direction: column;
    gap: 24px !important;
  }
  .products-daimention .content {
    width: 100% !important;
  }
  .products-daimention .img {
    width: 100% !important;
  }
  .product-details .content {
    width: 100% !important;
  }
  .products-daimention {
    margin-bottom: 24px;
  }
  .user-pic {
    padding-bottom: 20px;
  }
  .user-pic .img {
    margin: 0;
  }
  .subscrip-btn .input-group {
    width: 100%;
  }
  .newsletter p {
    text-align: center;
    word-wrap: break-word;
  }
  .cart-item {
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .txt-in {
    display: block;
    font-weight: 500;
    color: var(--bs-black);
  }
  .price span {
    display: flex;
    justify-content: space-between;
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cart-item-info p {
    width: 60%;
  }
  .cart-item-action {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .payment {
    gap: 24px;
    flex-direction: column;
  }
  .payment .w-50 {
    gap: 34px;
    width: 100% !important;
  }
  .message {
    width: 100%;
  }
  .shop-information {
    width: 100% !important;
  }
  .important-link {
    width: 100% !important;
    justify-content: space-between;
  }
  .footer-wrapper {
    padding: 40px 0 120px 0;
  }
  .footer-wrapper .footer {
    gap: 64px;
  }
  .inner-page-nav {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .mobile-nav-toggler.inner-page {
    display: none !important;
  }
  .navbar-brand .logo.inner-page {
    display: none !important;
  }
  .navbar-action.inner-page {
    display: none !important;
  }

  /* user panel */
  .layout-content {
    width: 100%;
  }
  /* user panel */
  .slide-img {
    position: unset;
    width: 100%;
    margin-bottom: 34px;
  }
  .intro_slider .slide {
    height: 100%;
    display: flex !important;
    flex-direction: column-reverse;
    padding: 30px 0;
  }
  .intro-wrapper .intro-bg {
    height: fit-content;
    margin-left: 20px;
  }
  .slide-content h1 {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    text-align: center;
  }
  .slide-content h5 {
    font-weight: 500;
  }
  .slide-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .intro-wrapper .container-fluid {
    width: 88%;
  }
  .intro-social-icon {
    display: none !important;
  }

  .products-slider {
    height: fit-content;
    margin: 0;
  }
  .slick-arrow.slick-next {
    bottom: 24px;
  }
  .slick-arrow.slick-prev {
    bottom: 24px;
  }
  .summer-wrapper .row {
    flex-direction: column-reverse;
    row-gap: 54px;
  }
  .summer-wrapper .col-7 {
    width: 100%;
  }
  .summer-wrapper .col-5 {
    width: 100%;
  }
  .summer-sale .slick-arrow.slick-next {
    left: unset;
    right: 0;
    top: -30px;
  }
  .summer-sale .slick-arrow.slick-prev {
    left: unset;

    right: 48px;
    top: -30px;
  }

  .slick-arrow {
    display: none !important;
  }
  .feature-wrapper {
    margin-bottom: 54px;
  }
  .banner-wrapper {
    height: 148px;
  }
  .banner h2 {
    font-size: 20px;
    line-height: 18px;
  }
  h4 {
    font-size: 24px;
    line-height: 28px;
  }
  .slick-dots {
    top: unset;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    gap: 4px;
  }
  .app-search-box.show {
    transform: translate(0px, 86px);
  }
  .products-slider .slide-img {
    width: 100%;
    /* height: 325px; */
  }
}

@media only screen and (max-width: 393px) {
  .products-tab .tab-menus .nav {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .tab-menus .nav {
    flex-wrap: unset;
  }
  .products-tab .tab-menus .nav::-webkit-scrollbar {
    height: 0;
  }
  .products {
    margin: 0 -8px;
  }
  .products .col-md-3 {
    padding: 0 8px;
  }
  .products .product-img {
    height: 180px;
  }
  .shop-information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .footer-title p {
    margin-bottom: 10px;
  }
  .contact-info {
    justify-content: center;
    align-items: center;
  }
  .shop-information .w-75 {
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }
  .shop-information .w-25 {
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }
  .links {
    justify-content: center !important;
    align-items: center !important;
  }
  .important-link {
    width: 100% !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .important-link div {
    justify-content: center;
    align-items: center;
  }
  .slider-img .slider {
    width: 74px;
  }
}
/* end responsive css code */
